h2
{
    color: black;
    border-bottom: 3px solid #f6feaa;
}

table
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td
{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

td
{
    vertical-align: top;
}

td img
{
    max-width: 75%;
    display: block;
    margin: 20 px auto;
}